
{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}
</style>

<div class="row">
<div class="col-lg-2"></div>
<div class="col-lg-8 mb-0   wow fadeInUp" style="" data-wow-delay="0.1s">
                    <div class="bg-primary text-center p-5">
                        <h1 class="mb-4">REGISTRATION</h1>
                        <form method="POST" action="register" enctype="multipart/form-data">
                         {% csrf_token %}
                                {% for msg in messages %}
                               <div class="alert">
                                  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                                    {{msg}}
                               </div>
                                {% endfor %}
                            <div class="row g-3">
                                <div class="col-sm-12">
                                    <div class="form-floating">
                                        <input type="text" class="form-control border-0" id="username" name="username" placeholder="Username" required>
                                        <label for="username">Username</label>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-floating">
                                        <input type="password" class="form-control border-0" id="password" name="password" placeholder="Password" required>
                                        <label for="password">Password</label>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-floating">
                                        <input type="password" class="form-control border-0" id="cpassword" name="cpassword" placeholder="Confirm Password" required>
                                        <label for="cpassword">Confirm Password</label>
                                    </div>
                                </div>


                                <div class="col-12">
                                    <button class="btn btn-dark w-100 py-3" type="submit">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
<div class="col-lg-2"></div>

</div>
{% endblock %}